.profile__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  max-width: 350px

}
@media screen and (max-width: 700px){
  .profile__wrapper {
    max-width: 282px;
    align-items: center;
    justify-content: center;
  }
}